.DS_Store
node_modules
.env
.env.*
!.env.example
dist
.plasmo
.gradle
build
*.tsbuildinfo
apps/chrome-extension/.extension-key/
local.properties
*.iml
.idea
captures
.local/
.cxx
*.apk
*.aab
.wrangler
.dev.vars
.dev.vars.*
